* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../images/Cordoba.png'), auto;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
    cursor: url('../images/Cordoba.png'), auto;
    position: relative
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.1) 50%
    );
    background-size: 100% 4px;
    z-index: 9999;
    pointer-events: none;
}

header {
    background-color: rgba(11, 177, 11, 0.85);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3)
}

.logo img {
    height: 3.75rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
}

.borde-letras {
    text-shadow: 
        -0.125rem -0.125rem 0px black, 
        0.125rem -0.125rem 0px black, 
        -0.125rem  0.125rem 0px black, 
        0.125rem  0.125rem 0px black; 
    font-weight: bold;
    display: inline-block; /* Necesario para que el ancho funcione */
    overflow: hidden;      /* Oculta las letras antes de escribirlas */
    white-space: nowrap;   /* Obliga a que esté en una sola línea */
    border-right: 2px solid white; /* El cursor blanco */
    width: 0;
    animation: 
        escribir 3s steps(14) forwards, 
        parpadeo .75s step-end 6 forwards;
}

@keyframes escribir {
    from { width: 0 }
    to { width: 100% }
}

@keyframes parpadeo {
    from, to { border-color: transparent }
    50% { border-color: white }
}

h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(11, 177, 11);
    margin-top: 1.875rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    font-weight: 1000;
}

.casa img {
    cursor: url('../images/Koki.png'), auto;
    height: 2.5rem;
    width: auto;
}

.lnk img {
    cursor: url('../images/Koki.png'), auto;
    height: 2.5rem;
    width: auto;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url('../images/Cordoba.png'), auto;
}

p {
    margin-top: 1.875rem;
    margin-left: 15.625rem;
    margin-right: 15.625rem;
}

.parrafo {
    margin-top: 1.25rem;
}

.footer {
    background-size: cover;
    background-position: center;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    margin-top: 0rem
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 4rem;
    text-align: center;
    padding: 1.25rem 0;
    background-image: url('../images/banderaCrdb.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay p {
    color: white;
    font-size: 1.125rem;
    margin: 0;
}

.redes {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
}

.junta img {
    height: 3.75rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
}

.rss img, .atom img {
    border-radius: 50%;
    transition: all 0.3s ease;
    opacity: 0.85;
}

.rss img {
    height: 1.2rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
    position: relative;
}

.rss:hover img {
    opacity: 1;
    box-shadow: 0 0 15px #ee802f, 0 0 30px #ee802f; 
}

.atom img {
    height: 1.2rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
    position: relative;
}

.atom:hover img {
    opacity: 1;
    box-shadow: 0 0 15px #ee802f, 0 0 30px #ee802f; 
}

.RssAtom {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.MdnJnt {
    display: flex;
    gap: 1.25rem;
}

.CsLnkdn {
    display: flex;
    gap: 1.25rem;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: rgb(11, 177, 11); 
    border: 2px solid #000000; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(235, 235, 235); 
    border-radius: 5px;
    border: 3px solid rgb(11, 177, 11); 
}

::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

