* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../images/Cordoba.png'), auto;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
    cursor: url('../images/Cordoba.png'), auto;
    background-image: url('../images/fondoSbrm.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.1) 50%
    );
    background-size: 100% 4px;
    z-index: 9999;
    pointer-events: none;
}

header {
    background-color: rgba(11, 177, 11, 0.85);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3)
}

.logo img {
    height: 3.75rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
}

.borde-letras {
    text-shadow: 
        -0.125rem -0.125rem 0px black, 
        0.125rem -0.125rem 0px black, 
        -0.125rem  0.125rem 0px black, 
        0.125rem  0.125rem 0px black; 
    font-weight: bold;
    display: inline-block; /* Necesario para que el ancho funcione */
    overflow: hidden;      /* Oculta las letras antes de escribirlas */
    white-space: nowrap;   /* Obliga a que esté en una sola línea */
    border-right: 2px solid white; /* El cursor blanco */
    width: 0;
    animation: 
        escribir 3s steps(14) forwards, 
        parpadeo .75s step-end 6 forwards;
}

@keyframes escribir {
    from { width: 0 }
    to { width: 100% }
}

@keyframes parpadeo {
    from, to { border-color: transparent }
    50% { border-color: white }
}

h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.casa img {
    cursor: url('../images/Koki.png'), auto;
    height: 2.5rem;
    width: auto;
}

.lnk img {
    cursor: url('../images/Koki.png'), auto;
    height: 2.5rem;
    width: auto;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url('../images/Cordoba.png'), auto;
}

p {
    margin-top: 1.875rem;
    margin-left: 16.625rem;
    margin-right: 16.625rem;
    background-color: white;
    border-radius: 15px;
    border: 4px solid rgba(11, 177, 11, 0.65);
}

.parrafo {
    margin-top: 1.25rem;
}

.alumno img {
    display: inline-block
}

.alumno {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.contenedor-imagen {
    position: relative;
    width: 10.9375rem;
    height: 12.5rem;
    overflow: hidden;
}

.contenedor-imagen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.imagen-normal {
    opacity: 1;
    z-index: 1;
}

.imagen-hover {
    opacity: 0;
    z-index: 2;
}

.contenedor-imagen:hover .imagen-normal {
    opacity: 0;
}

.contenedor-imagen:hover .imagen-hover {
    opacity: 1;
}

.junta img {
    height: 3.75rem;
    width: auto;
    cursor: url('../images/Koki.png'), auto;
}

.MdnJnt {
    display: flex;
    gap: 1.25rem;
}

.CsLnkdn {
    display: flex;
    gap: 1.25rem;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: rgb(11, 177, 11); 
    border: 2px solid #000000; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(235, 235, 235); 
    border-radius: 5px;
    border: 3px solid rgb(11, 177, 11); 
}

::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

